<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Entry</title>
        <style type="text/css"></style>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <h1>Welcome to, {{ site_name }}</h1>

        <div class="r"></div>

        <button class="button-style button1">Sign Up</button>
        <button class="button-style button2">Login</button>
        <button class="button-style button3">Buy Premium</button>
        <button class="button-style button4" style="display: inline-block"><span>Try Demo </span></button>
    </body>
</html>